#body {
    background-color: rgb(128, 128, 128);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas{
    background-color: rgb(51, 50, 50);
}
.btn {
    font-size: 14px;
    font-weight: 600;
    background-color: bisque;
    border:solid 2px black;
    padding: 4px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: ghostwhite;
}
.brush-value button{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-weight: 800;
    font-size: 22px;
}
.brush-value p{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.tools{
    overflow: hidden;
}
.tools div{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav {
    display: inline;
}
p.nav {
    margin-left: 8px;
}
input.nav{
    width: 60px;
}
.footer{
    position: fixed;
    bottom: 0;
    margin: auto;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}